
#rezgo2crm_settings .field_frame {
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	margin:20px 10px;
	width:900px;
	padding-bottom:10px;
}
#rezgo2crm_settings .field_frame .field_contents {
	padding:10px;
}
#rezgo2crm_settings legend {
	font-weight:500;
	font-size:15px;
	padding: 10px;
	color:#FFF;
	width:880px;
	background-image: linear-gradient(to bottom, #2EA2CC 0px, #0074A2 100%);
	background-repeat: repeat-x;
	border-bottom:1px solid #DDD;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

/* form styling with definition list */
#rezgo2crm_settings label {
	font-weight:bold;
	font-size:14px;
	color:#333;
	padding-top:8px;
}

dl {
	clear:both;
}
dt {
	width:12em;
	height:2em;
	text-align:right;
	float:left;
	clear:left;
	padding-right:5px;
}
dd {
	margin-left:5px;
	overflow:hidden;
	clear:right;
	height:1%;
}

#submitKey_successDiv{position:absolute;right:0;top:0;background-color:green;height:100px;border-radius: 15px;display:none}
#submitKey_failedDiv{position:absolute;right:0;top:0;background-color:pink;height:100px;border-radius: 5px;display:none}
.submitKey_Icon{float:left;margin-top:20px;margin-left:20px}
.submitKey_Msg{float:left;margin-top:20px;margin-left:10px;margin-right:10px;}
#company_website{font-size: 1.5em; text-decoration: none; color:black}

#MC_list_name{font-size: 1.5em; text-decoration: none; color:black}
#MC_submitKey_successDiv{position:absolute;right:0;top:0;background-color:green;height:100px;border-radius: 15px;display:none}
#MC_submitKey_failedDiv{position:absolute;right:0;top:0;background-color:pink;height:100px;border-radius: 5px;display:none}

.rezgo_map_fields {float:left;width:45%;border:solid 1px gray}
#rezgo_map_fields_spacer {float:left;width:5%;}
.rezgo_map_fields th {width:40%; background:gray}
.rezgo_map_fields input {width:100%}
.mapping_field_even {background:lightgray}

.rezgo2crm_notifications_table {width:100%}
.rezgo2crm_notifications_table th {
	color:#FFF;
	background-image: linear-gradient(to bottom, #2EA2CC 0px, #0074A2 100%);
}
.rezgo2crm_is_success {text-align:center}
.rezgo2crm_error {width:20%}

